/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2021-02-26, 12:30:48
    Author     : fx-fe
*/

/* CSS HEX */
/* --usafa-blue: #26547cff;
--paradise-pink: #ef476fff;
--orange-yellow-crayola: #ffd166ff;
--caribbean-green: #06d6a0ff;
--baby-powder: #fffcf9ff; */

html,
body   {
    font-family: "Dosis", sans-serif;
    background-color: #fffcf9ff !important;
    transition: 0.2s all;
}

p,
h1,
h2 {
    color: #fffcf9ff;
}

.navbar h1,
.footer h1 {
    color: #ffd166ff;
}

.container {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

.navbar {
    background-color: #26547c;
    /* Idée Murray */
    /* background-color: #274196; */
    color: #ffd166ff;
    margin: none;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-title {
    padding: 0rem 0rem 0rem 0.5rem;
}
.one {
    color: #ffd166ff;

}
.two {
    color: #ef476fff;
}

.content {
    padding: 1em 2rem 1rem 2rem;
    margin-left: auto;
    margin-right: auto;

}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    font-size: 300%;
    text-align: center;
}

.home-title {

}

.home-subtitle {
    padding-bottom:  20px;
    color: #26547c;
    font-size: 80%
}

.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.menu {
    /*display: flex;*/
    align-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.menu-items {
    margin: 1.13rem 0.5rem 0.83rem 0.5rem;
    color: #ef476fff;
    cursor: pointer;
}

.login {
}

.primary-btn {
    font-family: "Dosis", sans-serif;
    border: none;
    border-radius: 10px;
    color: #fffcf9ff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transition: 0.2s all;
    align-content: center;
}

.login-btn {
    background-color: #26547c;
}

.sign-up-btn {
    background-color: #ef476fff;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: none;
}

.primary-btn:focus {
    outline: none;
}

.primary-btn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.footer {
    background-color: #26547c;
    color: #ffd166ff;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    padding: 0rem 1rem;
    height: 10vh;
}

.card-container {

    min-height: 80vh;
    /*display: flex;*/
}

.card-grid {
    display: grid;
    /* justify-content: space-between;
    flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /*grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));*/
    /*min-height: 80vh;*/
}

.card {
    /* flex-grow: 1;
    flex-shrink: 1; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    height: 15rem;
    /*    max-height: 12rem;*/
    /* max-width: 20rem; */

}

.card-pair {
    background-color: #ef476fff;
}

.card-impair {
    background-color: #ffd166ff;
}

.card-num {
    text-align: end;
    color: #26547c;
}

.card-infos {
    display: flex;
    flex-direction: column;
    color: #26547c;
    font-weight: 800;
}

.card-desc {
    display: -webkit-box;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}

.login-container {
    display: flex;
    /* width: 100vh; */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    text-align: center;
    border-radius: 10px;
    background-color: #ffd166ff;
    /* height: 100vh; */
    margin: 50px;
    padding: 10px;
    height: 60%;
}

@media only screen and (max-width: 716px) {
    .login-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        height: auto;
    }
}

.login {
    flex-grow: 1;
    background-color: #ffd166ff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.login-input {
    font-family: "Dosis", sans-serif;
    font-size: 1em;
    font-weight: 800;
    /* flex-grow: 1; */
    color: #26547c;
    text-align: center;
    width: 55%;
    padding: 0.7rem;
    border-radius: 10px;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    text-decoration: none;
    border: none;
}

.login-btn-input {
    margin-top: 1rem;
}

.signup-btn-input {
    margin-top: 1rem;
}

.login-input:focus {
    outline: none;
}

.sign-up {
    color: #ffd166ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-height: 275px;
    /* background-image: url("https://dspncdn.com/a1/media/692x/d5/6b/52/d56b52c2c41e917e1d17fc1ea3421dd4.jpg"); */
    border-radius: 10px;
    background-image: url("https://dspncdn.com/a1/media/692x/ab/eb/20/abeb2082147e27c77dec715b93ca39d2.jpg");
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* width: 100vh; */
}
